body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.add-crypto-form{
    max-width: 1080px;
    margin: 0 auto;
}

h1 {
    text-align: start;
    color: #333;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-bottom: 10px;
}

.card-title {
    font-size: 18px;
    color: #333;
    margin: 0 0 15px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.add-crypto-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 30px;
}

.add-crypto-form h3 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.form-control-file {
    width: 100%;
    font-size: 14px;
}

.btn-primary {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.msj{
    margin-bottom: 0;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.boton-habilitar{
    background-color: #00b800;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.boton-inhabilitar{
    background-color: #e40000;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.boton-inhabilitar:hover{
    background-color: #e81d1d;
    color: white;
}
.boton-habilitar:hover{
    background-color: #1dd81d;
    color: white;
}

#anlca-criptomonedas{
    background-color: transparent;
    color: transparent;
    position: absolute;
    z-index: -10;
    top: -100px;
}

.container{
    position: relative;
}

.mensajesDeError{
    position: fixed;
    z-index: 100;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .add-crypto-form {
        padding: 15px;
        margin: 2.5em;
    }
}

@media (max-width: 600px) {
    .card-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}