body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & >a img{
        width: 3em;
    }
}

header{
    background-color: #404040;
    /*background-color: rgba(64, 64, 64, 0.3);
    backdrop-filter: blur(5px);*/
    border-bottom: 1px solid rgba(64, 64, 64, .5);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);

    padding: 0em 5em;
    position: sticky;
    top: 0px;
    z-index: 5;
}

.contUser,
.contLogout{
    margin:0;

    & img{
        width: 2em;
        transition: all .2s;
    }
}

.contUser:hover img,
.contLogout:hover img{
    transform: scale(1.2);
}


.contUserLogout{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 2em;
}


.contLinks{
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: .5em 5em;

    gap: 3em;
    height: 56px;
}

.linksNav{
    display: flex;
    align-items: center;
    padding: 0 .5em;

    & a{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #fff;
        transition: all .2s;
    }
}

.linksNav:hover a{
    transform: translateY(-5px);
    color: #EEB913;
    text-decoration: underline solid 2px #EEB913;
    text-underline-offset: 5px;
}


.imgMenuBurguer,
.contLinksResponsive{
    display: none;
}





@media screen and (max-width: 960px) {
    header{
        margin: 0;
        padding: .5em 5em;
    }

    .contLinks,
    .contUser,
    .contLogout{
        display: none;
    }

    .imgMenuBurguer{
        display: block;
        cursor: pointer;
    }

    .contLinksResponsive{
        width: 100%;
        display: none;
        flex-direction: column;
        gap: 1em;
        position: absolute;
        z-index: 3;
        top: 64px;
        left: 0;
        background-color: #404040;
        padding: 1em 0;
        margin: 0;
    }

    .linksNav{

        & a{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        a:hover{
            transform: translateX(5px);
        }
    }
}


@media screen and (max-width: 700px){
    header{
        padding: .5em 1em;
    }

    .contLinksResponsive{
        padding: 1em 0;
    }
}