/*.clear{clear: both;}
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}*/


body a{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.compra{
    margin-top: -10px;
    margin-left: 1200px; /* Asegura que el contenedor esté en el extremo derecho */
}

/* para poner el icono del perfil a la derecha*/
.profile-container {
    display: flex; /* Usar flexbox para alinear los elementos */
    flex-direction: column; /* Apilar los elementos de arriba a abajo */
    justify-content: end;
    align-items: flex-end; /* Alinear elementos a la derecha */
    margin-left: 1400px; /* Asegura que el contenedor esté en el extremo derecho */
    margin-top: -40px;
}

.profile-container img {
    margin-bottom: 5px; /* Espacio entre la imagen y el texto */
}
/*fin icono del perfil a la derecha*/

.header{
    background:#000000;
    padding: 1.5% 0;
}
.header-left{
    float:left;
    width: 59%;
}
.logo{
    float:left;
    margin-right: 2%;
}
.menu{
    float:left;
    margin: 17px 0 0;
}
.menu li{
    display:inline-block;
}
.menu li:first-child{
    margin-left:0;
}
.menu li a{
    display: block;
    font-size: 0.8125em;
    text-transform: uppercase;
    padding: 5px 20px;
    color: #FFF;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-weight: 600;
}
.menu li a:hover ,.menu li.active a{
    background:#fff;
    color:#000;
}
#nav .current a {
    color:red;
}

.toggleMenu {
    display:  none;
    padding:4px 5px 0px 5px;
}

.nav:before,
.nav:after {
    content: " ";
    display: table;
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
}
@media screen and (max-width:800px) {
    .active {
        display: block;
    }
    .menu li a{
        text-align:left;
        border-radius:0;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        -o-border-radius:0;
    }
    .nav {
        list-style: none;
        width: 95%;
        position: absolute;
        right: 20px;
        background: #222;
        top: 72px;
        z-index: 111;
    }
    .nav:after {
        content: '';
        position: absolute;
        right:18px;
        top: -9px;
        border-left:10px solid rgba(0, 0, 0, 0);
        border-right:10px solid rgba(0, 0, 0, 0);
        border-bottom:10px solid #333;
    }
    .menu li a span.messages{
        text-align:center;
        top:15px;
    }
    .nav li ul{
        width:100%;
    }
    .menu ul{
        margin:0;
    }
    .nav > li.hover > ul {
        width:100%;
    }
    .nav > li {
        float: none;
        display:block;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
    .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }
    .nav li a{
        border-top:1px solid #333;
    }
    .nav li:first-child a{
        border-top:none;
    }
}
.header_right{
    float:right;
    width:6%;
    margin-top: 16px;
}/*
.sb-search {
	position: absolute;
	top:7px;
	right:0px;
	width: 0%;
	min-width: 45px;
	height: 45px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}
.sb-search-input {
	position: absolute;
	top: 0;
	left: 0px;
	border: none;
	outline: none;
	background:#333;
	width: 100%;
	height:45px;
	margin: 0;
	z-index: 10;
	padding: 5px 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #ffffff;
}
.sb-search-input::-webkit-input-placeholder {
	color: #ffffff;
}
.sb-search-input:-moz-placeholder {
	color: #ffffff;
}
.sb-search-input::-moz-placeholder {
	color: #efb480;
}
.sb-search-input:-ms-input-placeholder {
	color: #ffffff;
}
.sb-icon-search,.sb-search-submit  {
	width: 45px;
	height: 45px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 45px;
	text-align: center;
	cursor: pointer;
}*/
/*
.sb-search-submit {
	background: #333 url('../images/img-sprite.png') no-repeat 0px 1px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
/*  filter: alpha(opacity=0); /* IE 5-7 */

/*	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
	-webkit-appearance: none;
}*/
/*
.sb-icon-search {
	color: #FFF;
background: #000 url('../images/img-sprite.png') no-repeat 0px 1px;
z-index: 90;
}
/* Open state */
/*.sb-search.sb-search-open,.no-js .sb-search {
	width:40%;
}
.sb-search.sb-search-open .sb-icon-search,.no-js .sb-search .sb-icon-search {
	background: #c0c0c0 url('../images/img-sprite.png') no-repeat 0px 1px;
	color: #fff;
	z-index: 11;
}
.sb-search.sb-search-open .sb-search-submit,.no-js .sb-search .sb-search-submit {
	z-index: 90;
}*/
/* start icon styles */
/*
.icon1:before,.icon1:after {
	content: "";
	display: table;
}
.icon1:after {
	clear: both;
}
ul.icon1 {
	float: left;
	zoom: 1;
	list-style: none;
	padding: 0;
	margin-left:25%;
}
.icon1 li {
	float: left;
	position: relative;
}
.icon1 li:last-child{
	border-right:none;
}
.icon1 li:hover > a {
	color: #fafafa;
}
*html .icon1 li a:hover { /* IE6 only */
/*	color: #fafafa;
}
.icon1 ul {
	width:300px;
	margin: 20px 0 0 0;
	_margin: 0;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top:67px;
	z-index: 1;
	right: -140px;
	background: #ffffff;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	box-shadow: 0 0 10px #AAA;
	-webkit-box-shadow: 0 0 10px #AAA;
	-moz-box-shadow: 0 0 10px #AAA;
	-o-box-shadow: 0 0 10px #AAA;
}
.icon1 li:hover > ul {
	opacity: 1;
	visibility: visible;
	margin: 0;
	z-index: 9999;
}
.icon1 ul ul {
	top: 6px;
	left: 158px;
	margin: 0 0 0 20px;
}*/
/*.icon1 ul li {
	/*--float: none;--*/
/*	display: block;
	border: 0;
}
.icon1 ul li:first-child{
	border-top:none;
}*/
/*
.icon1 ul li:first-child a{
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-o-border-top-left-radius: 5px;
}
.icon1 ul li:last-child {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.icon1 ul a {
	_height: 10px; /*IE6 only*/
/*white-space: nowrap;
float: none;
text-transform: none;
}
.active-icon{
display: block;
}
.icon1 ul li:first-child > a:after {
content: '';
position: absolute;
left: 45%;
top: -30px;
border-left: 10px solid transparent;
border-right:10px solid transparent;
border-bottom:10px solid #f0f0f0;
}
.icon1 ul ul li:first-child a:after {
left: -100px;
top: 0%;
margin-top: -6px;
border-left: 0;
border-bottom:20px solid transparent;
border-top: 20px solid transparent;
border-right:20px solid #323757;
}

/* Mobile *//*
.icon1-trigger {
display: none;
}
.sub-icon1 img{
border:none;
display:inline-block;
vertical-align:middle;
}
li.list_img{
float:left;
width:26%;
}
.login_buttons{
margin-top:23%;
}
li.list_desc{
float:left;
width:50%;
}
li.list_desc h4 a{
color:#000;
font-size:0.85em;
text-decoration:none;
font-weight:600;
}
li.list_desc h4 a:hover{
color:red;
}
.c1{
background: url(../images/img-sprite.png) no-repeat -66px -8px;
width: 22px;
height: 24px;
display: inline-block;
vertical-align: middle;
}
.icon1 .profile_img {
margin-top: 3px;
}
.sub-icon1 ul li h3{
text-align: center;
font-size: 18px;
color: #555;
text-transform: uppercase;
margin-bottom: 4%;
}
.sub-icon1 ul li p{
text-align:center;
font-size: 0.8125em;
color: #555;
line-height: 1.5em;
margin:2% 0;
}
.sub-icon1.list{
padding:20px;
}
.sub-icon1 ul li p a{
color: #00405d;
}
.sub-icon1 ul li p a:hover{
color: #555555;
text-decoration:underline;
}
.product_control_buttons{
float:right;
}
.product_control_buttons a:hover{
opacity:0.5;
}
.button{
text-align: center;
}
.button a{
color:#fff;
font-size:0.85em;
text-transform:uppercase;
font-weight:800;
text-decoration:none;
margin-left:45%;
border: none;
cursor: pointer;
padding:15px 30px;
display: inline-block;
outline: none;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
background: #000;
}
.button a:hover{
background:#222;
}
.login_button{
float:right;
}
.login_button a{
color:#fff;
font-size:0.85em;
text-transform:uppercase;
font-weight:600;
text-decoration:none;
border: none;
cursor: pointer;
padding:8px 15px;
display: inline-block;
outline: none;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
background: #000;
margin:10px 0 0;
}
.login_button a:hover{
background:#555;
}
.check_button{
float:left;
}
.check_button a{
color:#fff;
font-size:0.85em;
text-transform:uppercase;
font-weight:600;
text-decoration:none;
border: none;
cursor: pointer;
padding:8px 15px;
display: inline-block;
outline: none;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
background: #000;
margin:10px 0 0;
}
.check_button a:hover{
background:#555;
}
/*--main--*//*
.content-top{
padding:10% 0;
}/*
.content-top h2{
color: #000;
font-size:3em;
font-weight: 800;
text-align: center;
text-transform: uppercase;
margin-bottom: 1.5%;
}
.content-top p{
color: #000;
font-size: 0.95em;
text-transform: uppercase;
text-align: center;
font-weight: 600;
margin-bottom:1%;
}
.content-top h3{
color:#000;
font-size:1.5em;
text-transform:uppercase;
font-weight:700;
text-align:center;
margin:2% 0 0 0;
}
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display: none;
}
.nbs-flexisel-container {
position: relative;
max-width: 100%;
}
.nbs-flexisel-ul {
position: relative;
width: 9999px;
margin: 0px;
padding: 0px;
list-style-type: none;
text-align: center;
}
.nbs-flexisel-inner {
overflow: hidden;
margin: 0 auto;
}
.nbs-flexisel-item {
float: left;
margin: 0px;
padding: 0px;
cursor: pointer;
position: relative;
line-height: 0px;
}
.nbs-flexisel-item > img {
width:100%;
cursor: pointer;
positon: relative;
margin-top: 10px;
margin-bottom: 10px;
max-width:210px;
max-height:417px;
}
/*** Navigation ***/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    width:140px;
    height: 245px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
}
.nbs-flexisel-nav-left {
    left: 205px;
    background: url(../images/img-sprite.png) no-repeat -110px 1px;
}
.nbs-flexisel-nav-right {
    right:205px;
    background: url(../images/img-sprite.png) no-repeat -254px 1px;
}
.content-bottom{
    width:100%;
    background: url(../images/bg_image.jpg)no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    height:100%;
    padding:15% 0;
}
.content_bottom-text h3{
    color: #FFF;
    font-size: 3em;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2em;
    margin: 2% 0 10%;
}
p.m_1{
    color: #FFF;
    font-size: 0.85em;
    line-height: 2.2em;
    margin-bottom:6%;
}
p.m_2{
    color: #FFF;
    font-size: 0.85em;
    line-height: 2.2em;
}
.features{
    padding:8% 0;
}
h3.m_3{
    color: #000;
    font-size: 3em;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    margin-bottom:2%;
}
.close_but{
    text-align:center;
    margin-bottom:6%;
}
i.close1{
    width:46px;
    height:42px;
    background:url(../images/img-sprite.png)-196px -269px;
    display:inline-block;
}
.view {
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.view .mask,.view .content {
    width:263px;
    height:200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view img {
    display: block;
    position: relative;
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
}
.view p {
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    -webkit-box-shadow: 0 0 1px #000;
    -moz-box-shadow: 0 0 1px #000;
    box-shadow: 0 0 1px #000;
}