body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


.mainTransacciones {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

h2 {
    color: #333;
    margin-bottom: 1.5rem;
}

.titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contNotificiaciones{
    background-color: #fff;
    min-height: 70dvh;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    padding: 2rem;
}


.notificacion{
    min-width: 100%;
    max-width: 100%;
    background-color: #ffffff;
    padding: 1em;
    border-bottom: 2px solid #e4e4e4;
    transition: all .2s;

    & p{
        margin: 0;
    }
    p:hover{
        cursor: default;
    }
}

.notificacion:hover{
    background-color: #f1f1f1;
    cursor: default;

    & .notifTitulo, .notifDescripcion{
        transform: translateX(10px);
    }
}

.notif-renglon1{
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    color: #1b1b1b;

    & .notifTitulo{
        font-weight: bold;
        transition: all .2s;
    }

    .notifFecha{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .8em;
    }
}

.notifDescripcion{
    /*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
    word-break: break-word;
    word-wrap: break-word;
    color: #474747;
    transition: all .2s;
}

#form-criterioDeOrdenamiento{
    display: flex;
    align-items: center;
    gap: 1em;
}
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
}

/*si la notifi tiene el getVista() en false, la pongo de otro color para indicar q esa notif es "nueva"*/
.false{
    /*background-color: #6ecd6e;*/
    background-color: #bee6bd;
    display: grid;
    grid-template-columns: .05fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.false:hover{
    background-color: #bee6bd;
}

.cont-form-botonleidas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    place-content: center;
    gap: 2em;
    margin-bottom: 1.5rem;
}

.iconoCheckLeidas{
    width: 1.5em;
}

.btonLeidas {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 1rem;
    text-decoration: none;
    background-color: #EEB913;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.btonLeidas:hover {
    color: #fff;
    text-decoration: none;
    background-color: #bd960a;
}

.punto-nueva{
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: .5em;

    & img{
        width: 1em;
    }
}

@media screen and (max-width: 800px){

    .titulo{
        flex-direction: column;
        margin-bottom: 1em;
    }
    h2{
        text-align: center;
    }

    .notif-renglon1{
        font-size: 1em;
    }

    .notifDescripcion{
        font-size: .75em;
    }

    .cont-form-botonleidas{
        grid-template-columns: 1fr;
    }
}
