body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}
.mainPerfil {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.formularioPerfil {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 2rem;
    width: 100%;
    max-width: 800px;
}

.titulo {
    color: #333;
    margin-bottom: 1.5rem;
}

.contenedor-inputs-general {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.primer_cont, .segundo_cont {
    flex: 1;
    min-width: 250px;
}

.contenedor_input_perfil {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
}

input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contenedor_input_botones {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
}

.botones {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.cancelar{
    background-color: red;
}


.botones:hover {
    background-color: #45a049;
    text-decoration: none;
    color: #FFFFFF;
}

.cancelar:hover{
    background-color: #bf0101;
}

.verPlan {
    background-color: #2196F3;
}

.verPlan:hover {
    background-color: #1e87db;
}

@media (max-width: 768px) {
    .contenedor-inputs-general {
        flex-direction: column;
    }

    .contLinks {
        display: none;
    }

    .imgMenuBurguer {
        display: block;
    }
}