*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
    background: url(../img/fondoLogin.jpg) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#registerbox {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width:500px;
}

.logoCripto {
    display: block;
    width: 60px;
    margin: 0 auto 20px;
}

.form-titulo {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-size: 24px;
}

.contenedor-inputs {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

input {
    width: calc(50% - 5px);
    padding: 10px;
    background-color: #1a1a1a;
    border: 1px solid #333;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
}

input[type="date"] {
    color: #757575;
}

input:focus{
    background-color: #1a1a1a;
    border-color: #f0b90b;
    outline: 2px solid #f0b90b;
    color: #fff;
}

.btn-enviar {
    background-color: #f0b90b;
    color: black;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 10px;
}

.btn-enviar:hover {
    background-color: #ffcf34;
    color: #fff;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
}

.form-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #FFFFFF;
}

.form-link a {
    color: #f0b90b;
    text-decoration: none;
}

.form-link a:hover {
    color: #ffc800;
    text-decoration: underline;}

@media (max-width: 768px) {
    .container{
        width: 500px;
    }

    #registerbox {
        min-width: 100vw;
        min-height: 100vh;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & .errormsj{
            font-size: 1.2em;
        }
    }

    form{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 650px) {
    .div_form{
        min-width: 100%;
    }
}
