body {
    font-family: Arial, sans-serif;
    /*background: radial-gradient(circle ,#c1a236, #EDB913, #b18302, #232323);*/
    background-color: #F4F4F4;
    margin: 0;
    padding: 0;
}
#wallet_container {
    max-width: 800px;
    margin: 2rem auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}
h1 {
    text-align: center;
    color: #232323;
}
.plan {
    background-color: #ffffff;
    color: #000;
    border-radius: 8px;
    padding: 2rem;
    margin-top: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.plan h2 {
    margin-top: 0;
}
.price {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
}
.features ul {
    list-style-type: none;
    padding: 0;
}
.features li {
    margin-bottom: 0.5rem;
}

.plan-description{
    max-width: 100%;
}
.cont-img-plan{
    max-width: 100%;
    max-height: 300px;
    border-radius: 8px;
    overflow: hidden;

    & img{
        border-radius: 8px;
        max-width: 100%;
    }
}

.subscribe-btn {
    display: inline-block;
    background-color: #EEB913;
    color: white;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    margin-top: 1rem;
    transition: background-color 0.3s;
}
.subscribe-btn:hover {
    color: white;
    text-decoration: none;
    background-color: #fdcd3e;
    cursor: pointer;
}

.bloqueado{
    border: 0;
    background-color: grey;
    cursor: not-allowed;
}

.bloqueado:hover{
    border: 0;
    background-color: grey;
    cursor: not-allowed;
}

.mensaje {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 4px;
}


@media screen and (max-width: 600px){
    .plan{
        grid-template-columns: 1fr;
    }
    .cont-img-plan{
        max-height: 150px;
    }

}
