/* Global Styles */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Main Content Styles */
.mainTransacciones {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

h2 {
    color: #333;
    margin-bottom: 1.5rem;
}

/* Form Styles */
.form-nueva-transaccion {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

.form-nueva-transaccion div {
    margin-bottom: 1rem;
}

.form-nueva-transaccion label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.inputs, #btnRealizarTransaccion {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

#btnRealizarTransaccion {
    background-color: #EEB913;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btnRealizarTransaccion:hover {
    background-color: #bd960a;
}

/* Table Styles */
.historial h2 {
    margin-bottom: 1rem;
    margin-top: 2em;
}

.historial table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow-x: auto;
}

.historial th, .historial td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.historial th {
    background-color: #f8f9fa;
    font-weight: 600;
}

.historial tr:hover {
    background-color: #f8f9fa;
}

.MensajeExitoso{
    background-color: #78ff78;
    color: #3c763d;
}

.filter-container {
    margin-bottom: 20px;
    min-width: 100%;
    width: 100%;
    max-width: 300px;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
}

.container_select_label {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
}

.filter-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.filter-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
}

.boton-descargar {
    text-decoration: none;
    position: relative;
    bottom: -1em;
}

.boton-descargar button {
    display: inline-flex;
    align-items: center;
    background-color: #3498db;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.boton-descargar button:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.boton-descargar button:active {
    transform: translateY(0);
    box-shadow: none;
}



.filter-container select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0,123,255,.25);
}


td span{
    display: block;
}

td p{
    margin: 0;
}

td span:nth-of-type(1){
    border-bottom: #cdcdcd 1px solid;
    padding-bottom: 6px;
}
td span:nth-of-type(2){
    padding-top: 6px;
}

.dada{
    color: #cc0000;
    font-weight: bold;
}

.obtenida{
    color: #00bf00;
    font-weight: bold;
}









.contenedor {
    margin-top: 3em;
    max-width: 100%;
    font-family: Arial, sans-serif;
}

.titulo {
    color: #333;
    margin: 0;
}

.cont-titulo-programar{
    display: flex;
    align-items: center;
    gap: 2em;

    margin-bottom: 0;
    margin-top: 3em;

    & img{
        width: 2.5em;
        transition: all .5s;
    }

    img:hover{
        transform: rotate(360deg) scale(1.1);
        cursor: help;
    }
}

.formulario {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.grupo {
    margin-bottom: 1.5rem;
}

.etiqueta {
    display: block;
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.selector {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.grupo-condicion {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.grupo-condicion .etiqueta {
    margin-bottom: 0;
    min-width: 70px;
}

.divCriptoAObtenerProgramada{
    display: none;
}
.selector-condicion {
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    height: 100%;
}

.entrada-numero {
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    width: 100px;
    height: 100%;
}

.boton {
    width: 100%;
    padding: 1rem;
    background-color: #EEB913;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: #d4a511;
}


.cont-msj-no-cuenta-con-suscripcion{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 2rem;
}

.text-blocked{
    margin: 0;
}
.icon-blocked{
    min-width: 2.5em;
    max-width: 2.5em;
}
.subscribe-btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 0.6rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.subscribe-btn:hover {
    color: white;
    text-decoration: none;
    background-color: #0056b3;
    cursor: pointer;
}









@media (max-width: 768px) {
    .historial{
        max-width: 100dvw;
        overflow-x: auto;
    }

    .historial table {
        min-width: 600px;
        max-width: 100%;
    }
}

@media (max-width: 550px) {
    .grupo-condicion{
        flex-direction: column;
        align-items: start;
    }

    .selector-condicion{
        width: 110px;

        & option{
            font-size: .7em;
        }
    }

    .entrada-numero{
        width: 140px;
    }
}
