/* Global Styles */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Main Content Styles */
.mainTransacciones {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

h1 {
    color: #333;
    margin-bottom: 1.5rem;
}

/* Form Styles */
.form-nueva-transaccion {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

.form-nueva-transaccion div {
    margin-bottom: 1rem;
}

.form-nueva-transaccion label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.inputs, #btnRealizarTransaccion {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

#btnRealizarTransaccion {
    background-color: #EEB913;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btnRealizarTransaccion:hover {
    background-color: #bd960a;
}

/* Table Styles */
.historial h2 {
    margin-bottom: 1rem;
}

.historial table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.historial th, .historial td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.historial th {
    background-color: #f8f9fa;
    font-weight: 600;
}

.historial tr:hover {
    background-color: #f8f9fa;
}

.MensajeExitoso{
    background-color: #78ff78;
    color: #3c763d;
}

.filter-container {
    margin-bottom: 20px;
    min-width: 100%;
    width: 100%;
    max-width: 300px;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
}

.container_select_label {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
}

.filter-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.filter-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
}

.filter-container select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0,123,255,.25);
}


/* Responsive Design */
@media (max-width: 768px) {
    .historial {
        overflow-x: auto;
    }

    .historial table {
        min-width: 600px;
    }
}