<!DOCTYPE html>
<html lang="en">
<script src='https://cdn.plot.ly/plotly-2.35.2.min.js'></script>
<head>
    <meta charset="UTF-8">
    <title> Criptomoneda | Crypto</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/headerNuevo.css}"/>
    <link rel="icon" th:href="@{/img/logoCripto.png}">
    <link rel="stylesheet" th:href="@{/css/detalleCripto.css}">
</head>
<body>

<header id="arriba">
    <nav>
        <a th:href="@{/home}"><img th:src="@{/img/logoCripto.png}" alt="Logo"></a>

        <ul class="contLinks">
            <li class="linksNav seleccionado"><a th:href="@{/home}">Inicio</a></li>

            <li th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/transacciones}">Transacciones</a></li>
            <li th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/portfolio}">Portafolio</a></li>
            <li th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/suscripcion}">Suscripción</a></li>

            <li th:if="${#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/criptomonedas}">Criptomonedas</a></li>
            <li th:if="${#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/usuarios}">Usuarios</a></li>

        </ul>

        <ul class="contLinksResponsive" id="contLinksResponsive">
            <li class="linksNav seleccionado"><a th:href="@{/home}">Inicio</a></li>

            <li th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/transacciones}">Transacciones</a></li>
            <li th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/portfolio}">Portfolio</a></li>
            <li th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/suscripcion}">Suscripción</a></li>
            <li th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/notificaciones}">Notificaciones</a></li>

            <li th:if="${#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/criptomonedas}">Criptomonedas</a></li>
            <li th:if="${#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/usuarios}">Usuarios</a></li>

            <li class="linksNav"><a th:href="@{/perfil}">Perfil</a></li>
            <li class="linksNav"><a th:href="@{/cerrarSesion}">Cerrar Sesión</a></li>
        </ul>

        <div class="contUserLogout">
            <p class="saldo" th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}"  th:text="'$' + ${#numbers.formatDecimal(usuario.getSaldo(), 1, 4)}"></p>
            <a th:href="@{/notificaciones}" class="contUser a-notif">
                <img th:src="@{/img/icons/icon_notification.svg}" alt="Notificaciones" title="Notificaciones">
                <div th:if="${hayNotifSinVer}" class="icon_notificacion"></div>
            </a>
            <a th:href="@{/perfil}" class="contUser">
                <img th:src="@{/img/icons/icon_perfil.svg}" alt="Perfil" title="Ir a Perfil">
            </a>
            <a th:href="@{/cerrarSesion}" class="contLogout">
                <img th:src="@{/img/icons/icon_logout.svg}" alt="Cerrar sesión" title="Cerrar sesión">
            </a>
            <img th:src="@{/img/icons/icon_burger.svg}" id="imgBurger" alt="Menu" title="Menú" class="imgMenuBurguer">
        </div>
    </nav>
</header>


<main class="mainDetalles">

    <div class="slider-container">
        <div class="slider">
            <div class="card" th:each="cripto : ${criptos}" th:id="${cripto.getNombre()}">
                <div class="cont-img-slider">
                    <img th:src="@{'/img/logoCriptomonedas/' + ${cripto.getImagen()}}" th:alt="${cripto.getNombreConMayus()}">
                </div>
                <p th:text="${cripto.getNombreConMayus()}"></p>
            </div>
        </div>
    </div>

    <section class="section_tabla_grafico">
        <div class="cont-tabla">
            <table class="tabla">
                <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Precio (USD)</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="precioCripto : ${historialDePrecios}">
                    <td th:text="${precioCripto.getFechaDelPrecio()}"></td>
                    <td th:text="${#numbers.formatDecimal(precioCripto.getPrecioActual(), 1, 5)}" class="precioTabla"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <section class="grafico">
            <div id='myDiv'>
                <img th:src="@{'/img/logoCriptomonedas/' + ${criptomonedaEncontrada.getImagen()}}">
                <!-- aca va el grafico que genero por js -->
            </div>
        </section>
    </section>
</main>



<script th:inline="javascript">
    let historialDePreciosJsonStr = /*[[${historialDePreciosJson}]]*/ '[]';
    console.log(historialDePreciosJsonStr);

    let historialDePrecios = JSON.parse(historialDePreciosJsonStr);
    console.log(historialDePrecios);
</script>
<script th:src="@{/js/detalleCripto.js}"></script>
</body>
</html>
