<!--
    <div th:each="entry : ${mapaMonedaPrecios}">
      <img th:src="@{'/img/logoCriptomonedas/' + ${entry.key} + '.webp'}">
      <div th:text="${entry.key} + ' : ' + ${#numbers.formatDecimal(entry.value, 1, 7)} + ' ->' + ${divisaAMostrar}"></div>
    </div>-->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio | Crypto</title>

  <!-- Enlaces a los archivos CSS -->
  <link rel="stylesheet" href="./css/home.css">
  <link rel="stylesheet" href="./css/grafico.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <!--<script src="js/jquery.min.js"></script>-->
  <!-- Bootstrap y FontAwesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" th:href="@{/css/headerNuevo.css}"/>
  <script th:src="@{/js/headerNuevo.js}" defer></script>
  <script th:src="@{/js/home.js}" defer></script>
  <!-- Carga de jQuery desde CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Enlace al archivo JavaScript externo -->
  <script th:src="@{/js/buscarCriptos.js}"></script>
  <link rel="icon" th:href="@{/img/logoCripto.png}">




</head>

<body class="cuerpo">

<header id="arriba">
  <nav>
    <a th:href="@{/home}"><img th:src="@{/img/logoCripto.png}"></a>

    <ul class="contLinks">
      <li class="linksNav seleccionado"><a th:href="@{/home}">Inicio</a></li>

      <li th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/transacciones}">Transacciones</a></li>
      <li th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/portfolio}">Portafolio</a></li>
      <li th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/suscripcion}">Suscripción</a></li>

      <li th:if="${#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/criptomonedas}">Criptomonedas</a></li>
      <li th:if="${#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/usuarios}">Usuarios</a></li>

    </ul>

    <ul class="contLinksResponsive" id="contLinksResponsive">
      <li class="linksNav seleccionado"><a th:href="@{/home}">Inicio</a></li>

      <li th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/transacciones}">Transacciones</a></li>
      <li th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/portfolio}">Portfolio</a></li>
      <li th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/suscripcion}">Suscripción</a></li>
      <li th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/notificaciones}">Notificaciones</a></li>

      <li th:if="${#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/criptomonedas}">Criptomonedas</a></li>
      <li th:if="${#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/usuarios}">Usuarios</a></li>

      <li class="linksNav"><a th:href="@{/perfil}">Perfil</a></li>
      <li class="linksNav"><a th:href="@{/cerrarSesion}">Cerrar Sesión</a></li>
    </ul>

    <div class="contUserLogout">

      <p class="saldo" th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}"  th:text="'$' + ${#numbers.formatDecimal(usuario.getSaldo(), 1, 4)}"></p>
      <a th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" th:href="@{/notificaciones}" class="contUser">
        <img th:src="@{/img/icons/icon_notification.svg}" alt="Notificaciones" title="Notificaciones">
      </a>
      <a th:href="@{/perfil}" class="contUser">
        <img th:src="@{img/icons/icon_perfil.svg}" alt="Perfil" title="Ir a Perfil">
      </a>
      <a th:href="@{/cerrarSesion}" class="contLogout">
        <img th:src="@{img/icons/icon_logout.svg}"  alt="Cerrar sesión" title="Cerrar sesión">
      </a>
      <img th:src="@{img/icons/icon_burger.svg}" id="imgBurger" alt="Menu" title="Menú" class="imgMenuBurguer">
    </div>
  </nav>
</header>

<div class="container mt-5">
  <form id="formulario" class="cabezaCripto">
    <input type="text" id="criterioDeBusqueda" placeholder="Buscar criptomoneda" name="criterioDeBusqueda"
           th:value="${criterioDeBusqueda != null and !#strings.isEmpty(criterioDeBusqueda) ? criterioDeBusqueda : ''}" />
    <button type="submit" class="centrar"> <i class='bx bx-search' id="search" style='color:#f6f5f5' ></i>Buscar</button>
    <a th:href="@{/home}" class="color-b centrar"> <i class='bx bx-refresh' id="refresh" style='color:#fff' ></i>Actualizar precio</a>

    <label for="selectDivisa">Selecciones la divisa a mostrar:</label>
    <select id="selectDivisa" name="moneda">
      <option value="eur" th:selected="${#strings.equalsIgnoreCase(divisaAMostrar, 'eur')}">EUR</option>
      <option value="brl" th:selected="${#strings.equalsIgnoreCase(divisaAMostrar, 'brl')}">BRL</option>
      <option value="gbp" th:selected="${#strings.equalsIgnoreCase(divisaAMostrar, 'gbp')}">GBP</option>
      <option value="ars" th:selected="${#strings.equalsIgnoreCase(divisaAMostrar, 'ars')}">ARS</option>
      <option value="cny" th:selected="${#strings.equalsIgnoreCase(divisaAMostrar, 'cny')}">CNY</option>
      <option value="usd" th:selected="${#strings.equalsIgnoreCase(divisaAMostrar, 'usd')}">USD</option>
    </select>
  </form>

  <p id="loading" style="display: none">Cargando...</p> <!-- este seria el loading pero nunca se muestra, nose si es pq carga rapido o que jaja -->

  <p th:if="${msjNoHayCoincidencias}" th:text="${msjNoHayCoincidencias}" class="alert alert-danger"></p>

  <div class="table-container">
    <table class="table-crypto">
      <thead>
      <tr>
        <th>Criptomoneda</th>
        <!--<th>Fluctuación</th>-->
        <th>Precio</th>
        <th th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}">Acciones</th>
      </tr>
      </thead>
      <tbody id="result">
      <tr th:each="entry : ${mapaMonedaPrecios}" th:id="${entry.key.getNombre()}" class="filaCripto">
        <td class="crypto-name">
          <img th:src="@{'/img/logoCriptomonedas/' + ${entry.key.getImagen()}}" class="crypto-icon" alt="Logo criptomoneda">
          <span th:text="${entry.key.getNombreConMayus()} + ' (' + ${entry.key.getSimbolo()} + ')'"></span>
        </td>
        <!--<td class="crypto-chart"></td>-->
        <td class="crypto-price" th:text="${#numbers.formatDecimal(entry.value, 1, 7)} + ' ' + ${divisaAMostrar}"></td>
        <td th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="crypto-actions">
          <a th:href="@{/transacciones(nombreDeCriptoADarSeleccionada=${entry.getKey().getNombre()}, tipoTransaccionSeleccionada='COMPRA')}" class="boton boton-buy">Comprar</a>
          <a th:href="@{/transacciones(nombreDeCriptoADarSeleccionada=${entry.getKey().getNombre()}, tipoTransaccionSeleccionada='VENTA')}" class="boton boton-sell">Vender</a>
          <a th:href="@{/transacciones(nombreDeCriptoADarSeleccionada=${entry.getKey().getNombre()}, tipoTransaccionSeleccionada='INTERCAMBIO')}" class="boton boton-edit">Intercambiar</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--<script src="./js/grafico.js"></script>-->
<script src="./js/header.js"></script>
</body>
</html>
