<!--<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Taller Web I</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">UNLAM</a>
</nav>

<main role="main" class="container">

    <div class = "container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <form action="#" th:action="@{/validar-login}" method="POST" th:object="${datosLogin}">
                <h3 class="form-signin-heading">Taller Web I</h3>
                <hr class="colorgraph"><br>

                <input th:field="*{email}" id="email" type="email" class="form-control" required/>
                <input th:field="*{password}" type="password" id="password" class="form-control" required/>

                <button id="btn-login" class="btn btn-lg btn-primary btn-block" Type="Submit">Login</button>

                <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}">
                </p>
            </form>
            <a id="ir-a-registrarme" href="nuevo-usuario">Registrarme</a>
        </div>
    </div>
</main>

<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>-->


<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login Cripto</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- Google Fonts (opcional para un look moderno) -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!-- Custom styles -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="icon" th:href="@{/img/logoCripto.png}">
    <style>

    </style>
</head>

<body>

<main role="main" class="container">
    <div id="loginbox" class="col-md-6 col-sm-8">
        <form action="#" th:action="@{/validar-login}" method="POST" th:object="${datosLogin}">
            <div class="div_form">
                <img class="logoCripto" th:src="@{/img/logoCripto.png}">
                <div>
                    <label for="email">Correo electrónico</label>
                    <input th:field="*{email}" id="email" type="email" class="form-control" placeholder="Email"/>
                </div>

                <div>
                    <label for="password">Contraseña</label>
                    <input th:field="*{password}" type="password" id="password" class="form-control" placeholder="Contraseña"/>
                </div>

                <p th:if="${error != null}" class="alert alert-danger mt-3 errormsj" th:text="'Error ' + ${error}"></p>
                <p th:if="${param.error != null}" class="alert alert-danger mt-3 errormsj" th:text="${param.error}"></p>
                <button id="btn-login" class="btn btn-lg btn-block mt-3" type="submit">Iniciar Sesión</button>
            </div>

        </form>
        <a id="ir-a-registrarme" href="register">Registrarme</a>
    </div>
</main>

<!-- Bootstrap core JS -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>
