<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transacciones | Crypto</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/headerNuevo.css}"/>
    <link rel="stylesheet" th:href="@{/css/notificaciones.css}">
    <link rel="icon" th:href="@{/img/logoCripto.png}">
    <script th:src="@{/js/filtroTransaccion.js}" defer></script>
    <script th:src="@{/js/selectorDeTransaccion.js}" defer></script>
    <script th:src="@{/js/sortNotificaciones.js}" defer></script>
</head>
<body>
<header id="arriba">
    <nav>
        <a th:href="@{/home}"><img th:src="@{/img/logoCripto.png}" alt="Logo"></a>

        <ul class="contLinks">
            <li class="linksNav"><a th:href="@{/home}">Inicio</a></li>

            <li th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/transacciones}">Transacciones</a></li>
            <li th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/portfolio}">Portafolio</a></li>
            <li th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/suscripcion}">Suscripción</a></li>

            <li th:if="${#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/criptomonedas}">Criptomonedas</a></li>
            <li th:if="${#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/usuarios}">Usuarios</a></li>

        </ul>

        <ul class="contLinksResponsive" id="contLinksResponsive">
            <li class="linksNav"><a th:href="@{/home}">Inicio</a></li>

            <li th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/transacciones}">Transacciones</a></li>
            <li th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/portfolio}">Portfolio</a></li>
            <li th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/suscripcion}">Suscripción</a></li>
            <li th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav seleccionado"><a th:href="@{/notificaciones}">Notificaciones</a></li>

            <li th:if="${#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/criptomonedas}">Criptomonedas</a></li>
            <li th:if="${#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/usuarios}">Usuarios</a></li>

            <li class="linksNav"><a th:href="@{/perfil}">Perfil</a></li>
            <li class="linksNav"><a th:href="@{/cerrarSesion}">Cerrar Sesión</a></li>
        </ul>

        <div class="contUserLogout">
            <p class="saldo" th:text="'$' + ${#numbers.formatDecimal(usuario.getSaldo(), 1, 4)}"></p>
            <a th:href="@{/notificaciones}" class="contUser a-notif">
                <img th:src="@{/img/icons/icon_notification.svg}" alt="Notificaciones" title="Notificaciones">
                <div th:if="${hayNotifSinVer}" class="icon_notificacion"></div>
            </a>
            <a th:href="@{/perfil}" class="contUser">
                <img th:src="@{/img/icons/icon_perfil.svg}" alt="Perfil" title="Ir a Perfil">
            </a>
            <a th:href="@{/cerrarSesion}" class="contLogout">
                <img th:src="@{/img/icons/icon_logout.svg}" alt="Cerrar sesión" title="Cerrar sesión">
            </a>
            <img th:src="@{/img/icons/icon_burger.svg}" id="imgBurger" alt="Menu" title="Menú" class="imgMenuBurguer">
        </div>
    </nav>
</header>

<main class="mainTransacciones">

    <div class="titulo">
        <h2 id="titulo-notif">Notificaciones</h2>
        <div class="cont-form-botonleidas">
            <form th:action="@{/notificaciones}" id="form-criterioDeOrdenamiento">
                <label for="criterioDeOrdenamiento">Ordenar por:</label>
                <select name="q" id="criterioDeOrdenamiento">
                    <option value="recienteAAntiguo" th:selected="${#strings.equalsIgnoreCase(criterio, 'recienteAAntiguo')}">Más recientes</option>
                    <option value="antiguoAReciente" th:selected="${#strings.equalsIgnoreCase(criterio, 'antiguoAReciente')}">Más antigüas</option>
                </select>
            </form>
            <a th:href="@{/notificaciones}" class="btonLeidas"><img th:src="@{/img/icons/icon_checked.svg}" class="iconoCheckLeidas" title="Marcar como leídas" alt="Icono check"> Marcar todas como leídas</a>
        </div>
    </div>

    <section class="contNotificiaciones">
        <div th:if="${notificaciones.isEmpty()}" class="alert alert-danger">
            No tienes notificaciones
        </div>
        <div th:if="${!notificaciones.isEmpty()}" class="notificacion" th:each="notificacion : ${notificaciones}" th:class="'notificacion ' + ${notificacion.getVista()}">
            <div class="notif-renglon1">
                <p class="notifTitulo" th:text="${notificacion.getTitulo()}"></p>
                <p class="notifFecha" th:text="${notificacion.getFechaNotificacion()}"></p>
            </div>
            <div class="notif-renglon2">
                <p class="notifDescripcion" th:text="${notificacion.getDescripcion()}"></p>
            </div>
        </div>
    </section>
</main>
<script th:src="@{/js/headerNuevo.js}" defer></script>
<!-- Bootstrap core JS -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>