<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suscripcion | Crypto</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script src="js/jquery.min.js"></script>
    <!-- Bootstrap y FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/headerNuevo.css}"/>
    <link rel="stylesheet" th:href="@{/css/suscripcion.css}"/>
    <script th:src="@{/js/headerNuevo.js}" defer></script>
    <link rel="icon" th:href="@{/img/logoCripto.png}">

</head>
<body>
<header id="arriba">
    <nav>
        <a th:href="@{/home}"><img th:src="@{/img/logoCripto.png}"></a>

        <ul class="contLinks">
            <li class="linksNav"><a th:href="@{/home}">Inicio</a></li>
            <li class="linksNav"><a th:href="@{/transacciones}">Transacciones</a></li>
            <li class="linksNav"><a th:href="@{/portfolio}">Portfolio</a></li>
            <li class="linksNav seleccionado"><a th:href="@{/suscripcion}">Suscripción</a></li>
        </ul>

        <ul class="contLinksResponsive" id="contLinksResponsive">
            <li class="linksNav"><a th:href="@{/home}">Inicio</a></li>
            <li class="linksNav"><a th:href="@{/transacciones}">Transacciones</a></li>
            <li class="linksNav"><a th:href="@{/portfolio}">Portfolio</a></li>
            <li class="linksNav seleccionado"><a th:href="@{/suscripcion}">Suscripción</a></li>
            <li class="linksNav"><a th:href="@{/perfil}">Perfil</a></li>
            <li class="linksNav"><a th:href="@{/cerrarSesion}">Cerrar Sesión</a></li>
        </ul>

        <div class="contUserLogout">
            <a th:href="@{/perfil}" class="contUser">
                <img th:src="@{img/icons/icon_perfil.svg}" alt="Perfil" title="Ir a Perfil">
            </a>
            <a th:href="@{/cerrarSesion}" class="contLogout">
                <img th:src="@{img/icons/icon_logout.svg}"  alt="Cerrar sesión" title="Cerrar sesión">
            </a>
            <img th:src="@{img/icons/icon_burger.svg}" id="imgBurger" alt="Menu" title="Menú" class="imgMenuBurguer">
        </div>
    </nav>
</header>

<div class="container">
    <h1>Plan de Suscripción</h1>
    <div class="plan">
        <h2>Plan Diamante</h2>
        <div class="price">$20/mes</div>
        <div class="features">
            <ul>
                <li>Soporte premium 24/7</li>

            </ul>
        </div>
        <a th:href="@{/validarSuscripcion}" class="subscribe-btn">Suscribirse</a>
    </div>

    <!--<p th:if="${param.mensaje}" th:text="${ param.mensaje } " class="alert alert-warning mensaje "> </p>-->
    <div th:if="${param.mensaje}">
        <div th:if="${!#strings.equalsIgnoreCase(param.mensaje[0].trim(), 'SE HA SUSCRIPTO CON EXITO')}">
            <p th:text="${param.mensaje[0]}" class="alert alert-danger mensaje"></p>
        </div>
        <div th:if="${#strings.equalsIgnoreCase(param.mensaje[0].trim(), 'SE HA SUSCRIPTO CON EXITO')}">
            <p th:text="${param.mensaje[0]}" class="alert alert-success mensaje"></p>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>