<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transacciones | Crypto</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/headerNuevo.css}"/>
  <link rel="stylesheet" th:href="@{/css/transacciones.css}">
  <link rel="icon" th:href="@{/img/logoCripto.png}">
  <script th:src="@{/js/filtroTransaccion.js}" defer></script>
  <script th:src="@{/js/selectorDeTransaccion.js}" defer></script>
</head>
<body>
<header id="arriba">
  <nav>
    <a th:href="@{/home}"><img th:src="@{/img/logoCripto.png}" alt="Logo"></a>

    <ul class="contLinks">
      <li class="linksNav"><a th:href="@{/home}">Inicio</a></li>

      <li th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav seleccionado"><a th:href="@{/transacciones}">Transacciones</a></li>
      <li th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/portfolio}">Portafolio</a></li>
      <li th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/suscripcion}">Suscripción</a></li>

      <li th:if="${#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/criptomonedas}">Criptomonedas</a></li>
      <li th:if="${#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/usuarios}">Usuarios</a></li>

    </ul>

    <ul class="contLinksResponsive" id="contLinksResponsive">
      <li class="linksNav"><a th:href="@{/home}">Inicio</a></li>

      <li th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav seleccionado"><a th:href="@{/transacciones}">Transacciones</a></li>
      <li th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/portfolio}">Portfolio</a></li>
      <li th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/suscripcion}">Suscripción</a></li>
      <li th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/notificaciones}">Notificaciones</a></li>

      <li th:if="${#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/criptomonedas}">Criptomonedas</a></li>
      <li th:if="${#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" class="linksNav"><a th:href="@{/usuarios}">Usuarios</a></li>

      <li class="linksNav"><a th:href="@{/perfil}">Perfil</a></li>
      <li class="linksNav"><a th:href="@{/cerrarSesion}">Cerrar Sesión</a></li>
    </ul>

    <div class="contUserLogout">
      <p class="saldo" th:text="'$' + ${#numbers.formatDecimal(usuario.getSaldo(), 1, 4)}"></p>
      <a th:if="${!#strings.equalsIgnoreCase(usuario.getRol(), 'ADMIN')}" th:href="@{/notificaciones}" class="contUser a-notif">
        <img th:src="@{/img/icons/icon_notification.svg}" alt="Notificaciones" title="Notificaciones">
        <div th:if="${hayNotifSinVer}" class="icon_notificacion"></div>
      </a>
      <a th:href="@{/perfil}" class="contUser">
        <img th:src="@{/img/icons/icon_perfil.svg}" alt="Perfil" title="Ir a Perfil">
      </a>
      <a th:href="@{/cerrarSesion}" class="contLogout">
        <img th:src="@{/img/icons/icon_logout.svg}" alt="Cerrar sesión" title="Cerrar sesión">
      </a>
      <img th:src="@{/img/icons/icon_burger.svg}" id="imgBurger" alt="Menu" title="Menú" class="imgMenuBurguer">
    </div>
  </nav>
</header>

<main class="mainTransacciones">

  <div th:if="${param.mensaje}">
    <div th:if="${!#strings.equalsIgnoreCase(param.mensaje[0].trim(), 'Transaccion exitosa.')}
              and ${!#strings.equalsIgnoreCase(param.mensaje[0].trim(), 'Programacion exitosa.')}
              and ${!#strings.equalsIgnoreCase(param.mensaje[0].trim(), 'Transaccion eliminada con exito.')}">
      <p th:text="${param.mensaje[0]}" class="alert alert-danger"></p>
    </div>
    <div th:if="${#strings.equalsIgnoreCase(param.mensaje[0].trim(), 'Transaccion exitosa.')}
              or ${#strings.equalsIgnoreCase(param.mensaje[0].trim(), 'Programacion exitosa.')}
              or ${#strings.equalsIgnoreCase(param.mensaje[0].trim(), 'Transaccion eliminada con exito.')}">
      <p th:text="${param.mensaje[0]}" class="alert alert-success"></p>
    </div>
  </div>




  <div class="doble-titulo">
    <h2 id="titulo-transaccion">Transacciones</h2>
  </div>



  <section id="seccionTransacciones">
    <form class="form-nueva-transaccion" th:action="@{/realizarTransaccion}" method="post">
      <div>
        <label for="tipoDeTransaccion">Seleccione el tipo de transacción:</label>
        <select id="tipoDeTransaccion" name="tipoDeTransaccion" class="inputs">
          <option th:each="tipo : ${tiposTransaccionesQuePuedaHacerElUsuario}" th:value="${tipo.getNombre()}" th:selected="${#strings.equalsIgnoreCase(filtro, tipo.getNombre())}" th:text="${tipo.getNombre()}"></option>

          <!--<option value="COMPRA" th:selected="${#strings.equalsIgnoreCase(tipoTransaccionSeleccionada, 'COMPRA')}">Compra</option>
          <option value="VENTA" th:selected="${#strings.equalsIgnoreCase(tipoTransaccionSeleccionada, 'VENTA')}">Venta</option>
          <option value="INTERCAMBIO" th:selected="${#strings.equalsIgnoreCase(tipoTransaccionSeleccionada, 'INTERCAMBIO')}">Intercambio</option>-->
        </select>
      </div>


      <div class="divCriptoADar">
        <label for="nombreDeCripto">Seleccione la criptomoneda:</label>
        <select id="nombreDeCripto" name  ="nombreDeCripto" class="inputs">
          <option th:each="cadaCripto : ${criptos}" th:value="${cadaCripto.getNombre()}" th:text="${cadaCripto.getNombreConMayus()}" th:selected="${#strings.equalsIgnoreCase(cadaCripto.getNombre(), nombreDeCriptoADarSeleccionada)}"></option>
        </select>
      </div>


      <div class="divCantidadDeCriptoADar">
        <label for="cantidadDeCripto">Seleccione la cantidad:</label>
        <div class="contInputsConversion">
          <input type="number" name="cantidadDeCripto" min="0" step="any" id="cantidadDeCripto" class="inputs">
          <img th:src="@{/img/icons/icon_conversionArrows.svg}" alt="converison" title="Conversión">
          <input type="number" id="cantEnUsdTransaccionComun" min="0" step="any" class="inputs">U$D
        </div>
      </div>


      <div class="divCriptoAObtener">
        <label for="nombreDeCripto2">Seleccione la criptomoneda que desea obtener:</label>
        <select id="nombreDeCripto2" name="nombreDeCripto2" class="inputs">
          <option th:each="cadaCripto : ${criptos}" th:value="${cadaCripto.getNombre()}" th:text="${cadaCripto.getNombreConMayus()}" th:selected="${#strings.equalsIgnoreCase(cadaCripto.getNombre(), nombreDeCriptoAObtenerSeleccionada)}"></option>
        </select>
      </div>


      <input type="hidden" name="emailUsuario" th:value="${emailUsuario}">
      <input type="submit" value="Realizar transacción" id="btnRealizarTransaccion">
    </form>

    <section class="historial">
      <form th:action="@{/transacciones}" method="get" class="filter-container" id="form_filtro">
        <h2>Historial de Transacciones</h2>
        <div class="container_select_label">
          <label for="transaction-filter">Filtrar:</label>
          <select name = "tipoTransaccion" id="transaction-filter">
            <option value="todos" th:selected="${#strings.equalsIgnoreCase(filtro, 'todos')}">Todos</option>
            <option th:each="tipo : ${tiposTransacciones}" th:value="${tipo.getNombre()}" th:selected="${#strings.equalsIgnoreCase(filtro, tipo.getNombre())}" th:text="${tipo.getNombre()}"></option>

            <!--<option value="todos" th:selected="${#strings.equalsIgnoreCase(filtro, 'todos')}">Todos</option>
            <option value="COMPRA" th:selected="${#strings.equalsIgnoreCase(filtro, 'COMPRA')}">Compras</option>
            <option value="VENTA" th:selected="${#strings.equalsIgnoreCase(filtro, 'VENTA')}">Ventas</option>
            <option value="INTERCAMBIO" th:selected="${#strings.equalsIgnoreCase(filtro, 'INTERCAMBIO')}">Intercambio</option>
            <option value="DEVOLUCION" th:selected="${#strings.equalsIgnoreCase(filtro, 'DEVOLUCION')}">Devolucion</option>-->
          </select>
          <!-- Campo de fecha "Desde" -->
          <label for="desde">Desde:</label>
          <input type="date" id="desde" name="desde">

          <!-- Campo de fecha "Hasta" -->
          <label for="hasta">Hasta:</label>
          <input type="date" id="hasta" name="hasta">
        </div>
      </form>
      <table>
        <thead>
        <tr>
          <th>Tipo</th>
          <th>Fecha</th>

          <th>Criptomoneda</th>
          <th>Precio Unitario (U$D)</th>
          <th>Cantidad</th>

          <th>Total (U$D)</th>
        </tr>
        </thead>
        <tbody>


        <tr th:if="${#lists.isEmpty(historialTransacciones)}">
          <td colspan="8">
            <h6 class="alert alert-danger">
              Aún no hay transacciones.
            </h6>
          </td>
        </tr>

        <tr th:each="registroTransacion : ${historialTransacciones}" th:unless="${#lists.isEmpty(historialTransacciones)}" class="cadaFilaDeTransaccion">
          <td th:text="${registroTransacion.getTipo()}"></td>
          <td th:text="${registroTransacion.getFechaDeTransaccion()}"></td>

          <!-- --------------------------------  VENTA COMPRA o DEVOLUCION -------------------------------------------------------------->
          <td th:if="${!#strings.equalsIgnoreCase(registroTransacion.getTipo(), 'INTERCAMBIO')}" th:text="${registroTransacion.getCriptomoneda().getNombreConMayus()} + ' (' + ${registroTransacion.getCriptomoneda().getSimbolo()} + ') '"></td>
          <td th:if="${!#strings.equalsIgnoreCase(registroTransacion.getTipo(), 'INTERCAMBIO')}" th:text="${registroTransacion.getPrecioAlQueSehizo()}"></td>

          <td th:if="${#strings.equalsIgnoreCase(registroTransacion.getTipo(), 'VENTA') or #strings.equalsIgnoreCase(registroTransacion.getTipo(), 'DEVOLUCION')}">
            <p th:text="'-' + ${registroTransacion.getCantidadDeCripto()}" class="dada"></p>
          </td>

          <td th:if="${#strings.equalsIgnoreCase(registroTransacion.getTipo(), 'COMPRA')}">
            <p th:text="'+' + ${registroTransacion.getCantidadDeCripto()}" class="obtenida"></p>
          </td>
          <!-- ---------------------------------------------------------------------------------------------------->


          <!-- -------------------- INTERCAMBIO--------------------------------------------------------->
          <td th:if="${#strings.equalsIgnoreCase(registroTransacion.getTipo(), 'INTERCAMBIO')}">
            <span th:text="${registroTransacion.getCriptomoneda().getNombreConMayus()} + ' (' + ${registroTransacion.getCriptomoneda().getSimbolo()} + ') '"></span>
            <span th:text="${registroTransacion.getCriptomoneda2().getNombreConMayus()} + ' (' + ${registroTransacion.getCriptomoneda2().getSimbolo()} + ') '"></span>
          </td>

          <td th:if="${#strings.equalsIgnoreCase(registroTransacion.getTipo(), 'INTERCAMBIO')}">
            <span th:text="${registroTransacion.getPrecioAlQueSehizo()}"></span>
            <span th:text="${registroTransacion.getPrecioAlQueSehizo2()}"></span>
          </td>

          <td th:if="${#strings.equalsIgnoreCase(registroTransacion.getTipo(), 'INTERCAMBIO')}">
            <span th:text="'-' + ${registroTransacion.getCantidadDeCripto()}" class="dada"></span>
            <span th:text="'+' + ${registroTransacion.getCantidadDeCripto2()}" class="obtenida"></span>
          </td>
          <!-- ---------------------------------------------------------------------------------------------------->


          <td th:text="${registroTransacion.getMontoTotal()}"></td>

          <td th:if="${registroTransacion.getFueProgramada()} and ${!#strings.equalsIgnoreCase(registroTransacion.getTipo(), 'INTERCAMBIO')}" class="cont-reloj">
            <img th:src="@{/img/icons/icon_clock.svg}" alt="icono reloj" title="Esta transacción fue programada">
          </td>
          <td th:if="${registroTransacion.getFueProgramada()} and ${#strings.equalsIgnoreCase(registroTransacion.getTipo(), 'INTERCAMBIO')}" class="cont-reloj reloj-para-intercambio">
            <img th:src="@{/img/icons/icon_clock.svg}" alt="icono reloj" title="Esta transacción fue programada">
          </td>
        </tr>

        </tbody>
      </table>
    </section>
    <a class="boton-descargar" th:href="@{/descargar-pdf}" download="tabla.pdf">
      <button type="button">
        Descargar Resumen
      </button>
    </a>
  </section>












  <div class="doble-titulo">
    <h2 id="titulo-programadas">Transacciones programadas</h2>
  </div>
  <section id="seccionProgramadas">
    <div th:if="${usuario.getActivo()}" class="contenedor">
      <form class="formulario" th:action="@{/programarTransaccion}" method="post">
        <div class="grupo">
          <label class="etiqueta" for="selector-transaccion-programada">Seleccione el tipo de transacción:</label>
          <select class="selector" id="selector-transaccion-programada" name="selectorTransaccionProgramada">
            <option th:each="tipo : ${tiposTransaccionesQuePuedaHacerElUsuario}" th:value="${tipo.getNombre()}" th:selected="${#strings.equalsIgnoreCase(filtro, tipo.getNombre())}" th:text="${tipo.getNombre()}"></option>

            <!--<option value="COMPRA" th:selected="${#strings.equalsIgnoreCase(tipoTransaccionSeleccionada, 'COMPRA')}">Compra</option>
            <option value="VENTA" th:selected="${#strings.equalsIgnoreCase(tipoTransaccionSeleccionada, 'VENTA')}">Venta</option>
            <option value="INTERCAMBIO" th:selected="${#strings.equalsIgnoreCase(tipoTransaccionSeleccionada, 'INTERCAMBIO')}">Intercambio</option>-->
          </select>
        </div>

        <div class="grupo">
          <label class="etiqueta" for="selector-cripto-programada">Seleccione la criptomoneda:</label>
          <select class="selector" id="selector-cripto-programada" name="selectorCriptoProgramada">
            <option th:each="cadaCripto : ${criptos}" th:value="${cadaCripto.getNombre()}" th:text="${cadaCripto.getNombreConMayus()}" th:selected="${#strings.equalsIgnoreCase(cadaCripto.getNombre(), nombreDeCriptoADarSeleccionada)}"></option>
          </select>
        </div>

        <div class="grupo">
          <label class="etiqueta" for="cantidadDeCripto-programada">Seleccione la cantidad:</label>
          <div class="contInputsConversion">
            <input type="number" class="selector" min="0" step="any" id="cantidadDeCripto-programada" name="cantidadDeCriptoProgramada">
            <img th:src="@{/img/icons/icon_conversionArrows.svg}" alt="converison" title="Conversión">
            <input type="number" id="cantEnUsdTransaccionProgramada" class="inputs" min="0" step="any">U$D
          </div>
        </div>

        <div class="grupo divCriptoAObtenerProgramada">
          <label for="nombreDeCriptoAObtenerProgramada">Seleccione la criptomoneda que desea obtener:</label>
          <select id="nombreDeCriptoAObtenerProgramada" name="nombreDeCriptoAObtenerProgramada" class="selector">
            <option th:each="cadaCripto : ${criptos}" th:value="${cadaCripto.getNombre()}" th:text="${cadaCripto.getNombreConMayus()}" th:selected="${#strings.equalsIgnoreCase(cadaCripto.getNombre(), nombreDeCriptoAObtenerSeleccionada)}"></option>
          </select>
        </div>

        <div class="grupo-condicion">
          <label class="etiqueta labelCuando" for="selector-condicion-programada">Cuando:</label>
          <div>
            <select class="selector-condicion" id="selector-condicion-programada" name="selectorCondicionProgramada">
              <option value="mayor">MAYOR a:</option>
              <option value="menor">MENOR a:</option>
            </select>
            <label>
              <input type="number" class="entrada-numero" step="0.00001" min="0" name="precioACumplir">
              U$D
            </label>
          </div>
        </div>

        <button class="boton">Programar transacción</button>
      </form>
    </div>


    <div th:if="${!usuario.getActivo()}" style="background-color: #fff; padding: 1em; position: relative; z-index: 2;    box-shadow: 0 2px 4px rgba(0,0,0,0.3);">
      <div class="cont-msj-no-cuenta-con-suscripcion alert alert-dark">
        <img class="icon-blocked" th:src="@{/img/icons/icon_blocked.svg}" alt="FuncionBloqueda" title="Función bloqueada">
        <p class="text-blocked">Función bloqueada: para poder usarla debes suscribirte</p>
        <a th:href="@{/suscripcion}" class="subscribe-btn">Obtener suscripción</a>
      </div>
    </div>



    <!-- este es es la tabla de programdas ---------------->
    <section th:if="${usuario.getActivo()}" class="historial">
      <form th:action="@{/transacciones}" method="get" class="filter-container" id="form_filtro-programadas">
        <h2>Transacciones programadas</h2>
        <div class="container_select_label">
          <label for="transaction-filter">Filtrar:</label>
          <select name = "tipoTransaccion" id="transaction-filter-programadas">
            <option value="todos" th:selected="${#strings.equalsIgnoreCase(filtro, 'todos')}">Todos</option>
            <option value="COMPRA" th:selected="${#strings.equalsIgnoreCase(filtro, 'COMPRA')}">Compras</option>
            <option value="VENTA" th:selected="${#strings.equalsIgnoreCase(filtro, 'VENTA')}">Ventas</option>
            <option value="INTERCAMBIO" th:selected="${#strings.equalsIgnoreCase(filtro, 'INTERCAMBIO')}">Intercambio</option>
          </select>
        </div>
      </form>
      <table>
        <thead>
        <tr>
          <th>Tipo</th>
          <th>Fecha que se programó</th>
          <th>Criptomoneda</th>
          <th>Cantidad</th>
          <th>Condición</th>
          <th>Precio a cumplir (U$D)</th>
          <th>Acción</th>
        </tr>
        </thead>
        <tbody>


        <tr th:if="${#lists.isEmpty(transaccionesProgramadas)}">
          <td colspan="8">
            <h6 class="alert alert-danger">
              Aún no hay transacciones programadas.
            </h6>
          </td>
        </tr>

        <tr th:each="transaccionProgramada : ${transaccionesProgramadas}" th:unless="${#lists.isEmpty(transaccionesProgramadas)}">
          <td th:text="${transaccionProgramada.getTipo()}"></td>
          <td th:text="${transaccionProgramada.getFechaQueSeHizoLaProgramacion()}"></td>

          <!-- --------------------------------  VENTA COMPRA o DEVOLUCION -------------------------------------------------------------->
          <td th:if="${!#strings.equalsIgnoreCase(transaccionProgramada.getTipo(), 'INTERCAMBIO')}" th:text="${transaccionProgramada.getCriptomoneda().getNombreConMayus()} + ' (' + ${transaccionProgramada.getCriptomoneda().getSimbolo()} + ') '"></td>

          <td th:if="${#strings.equalsIgnoreCase(transaccionProgramada.getTipo(), 'VENTA') or #strings.equalsIgnoreCase(transaccionProgramada.getTipo(), 'DEVOLUCION')}">
            <p th:text="${transaccionProgramada.getCantidadDeCripto()}"></p>
          </td>

          <td th:if="${#strings.equalsIgnoreCase(transaccionProgramada.getTipo(), 'COMPRA')}">
            <p th:text="${transaccionProgramada.getCantidadDeCripto()}"></p>
          </td>
          <!-- ---------------------------------------------------------------------------------------------------->


          <!-- -------------------- INTERCAMBIO--------------------------------------------------------->
          <td th:if="${#strings.equalsIgnoreCase(transaccionProgramada.getTipo(), 'INTERCAMBIO')}">
            <span th:text="${transaccionProgramada.getCriptomoneda().getNombreConMayus()} + ' (' + ${transaccionProgramada.getCriptomoneda().getSimbolo()} + ') '"></span>
            <span th:text="${transaccionProgramada.getCriptomoneda2().getNombreConMayus()} + ' (' + ${transaccionProgramada.getCriptomoneda2().getSimbolo()} + ') '"></span>
          </td>

          <td th:if="${#strings.equalsIgnoreCase(transaccionProgramada.getTipo(), 'INTERCAMBIO')}">
            <span th:text="${transaccionProgramada.getCantidadDeCripto()}"></span>
            <span>-</span>
          </td>
          <!-- ---------------------------------------------------------------------------------------------------->


          <td th:text="${transaccionProgramada.getCondicionParaHacerla().toUpperCase()}"></td>
          <td th:text="${transaccionProgramada.getPrecioACumplir()}"></td>

          <td><a th:href="@{'/eliminarTransaccionProgramada/' + ${transaccionProgramada.getId()}}" class="btnCancelar">Cancelar</a></td>
        </tr>

        </tbody>
      </table>
    </section>
  </section>
</main>

<script th:inline="javascript">
  const criptomonedas = /*[[${criptos}]]*/ [];
</script>
<script th:src="@{/js/conversorUsdTransacciones.js}" defer></script>
<script th:src="@{/js/headerNuevo.js}" defer></script>
<!-- Bootstrap core JS -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>